[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ebnm"]
	path = ebnm
	url = https://github.com/stephenslab/ebnm
	registered = false
[submodule "fastTopics"]
	path = fastTopics
	url = https://github.com/stephenslab/fastTopics
	registered = false
[submodule "flashier"]
	path = flashier
	url = https://github.com/willwerscheid/flashier
